[Desktop Entry]
Name=Toutui
GenericName=Audiobookshelf client
Exec=$HOME/.cargo/bin/toutui
Icon=utilities-terminal
Type=Application
Categories=Utility;
Terminal=true

